.header {
  background-color: dodgerblue;
  width: 100%;
  color: white;
  display: flex;
  height: 120px;
  margin: auto auto 0px auto;
  .header-title {
    margin: auto auto auto 30px;
    .header-title h1 {
      margin: 0px auto 0px auto;
    }
    .header-title p {
      color: black;
      margin-bottom: 0px;
    }
  }

  .header-item {
    display: flex;
    margin: auto 50px auto auto;
    font-weight: bold;
    button {
      width: 100px;
      color: #000;
      background-color: white;
      border-bottom: 4px solid rgb(226, 223, 223);
      border-radius: 10%;
      margin-left: 20px;
      height: 40px;
      font-weight: bold;
    }

    button:hover {
      margin-top: 3px;
      color: #000;
      background: white;
      border-bottom: 2px solid white;
    }
  }
}
